{
  "endOfLine": "auto",
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
